<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>63</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>62</string>
					<key>Timestamp</key>
					<string>724161476.772566</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Vocablo/VocabloScene.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>//                                    .foregroundStyle(.accent)
</string>
				<key>leading</key>
				<string>//                                    .symbolVariant(.fill)
//                                    .font(.largeTitle)
</string>
				<key>trailing</key>
				<string>                                
                                VStack(alignment: .leading){
                                    Text("Add lists with vocabularies")
</string>
			</dict>
			<key>title</key>
			<string>When the system accent color is an other, this is still the app´s accent color.</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>84</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>83</string>
					<key>Timestamp</key>
					<string>724161476.772594</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Vocablo/VocabloScene.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>//                                    .foregroundStyle(.accent)
</string>
				<key>leading</key>
				<string>//                                    .symbolVariant(.fill)
//                                    .font(.largeTitle)
</string>
				<key>trailing</key>
				<string>                                
                                VStack(alignment: .leading){
                                    Text("Learn vocabularies")
</string>
			</dict>
			<key>title</key>
			<string>When the system accent color is an other, this is still the app´s accent color.</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
